@model ExperienceTracker.Models.CampaignPlayer

@{
    ViewData["Title"] = "Campaign";
}

<h2>CampaignPlayers</h2>

<h3>Are you sure you want to remove this player from @Html.DisplayFor(model => model.Campaign.Name)?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Campaign.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerId" />
        <input type="hidden" asp-for="CampaignId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-controller="Campaigns" asp-action="Details" asp-route-id="@Model.CampaignId">Back to @Html.DisplayFor(model => model.Campaign.Name)</a>
    </form>
</div>
